<?xml version="1.0" encoding="UTF-8" ?>
<!--文件约束说明-->
<!--约束文件名：mybatis-3-config.dtd-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--   @-4
此文件为MyBatis的配置文件-->
<configuration>

    <!--【settings】是控制MyBatis的全局行为-->
    <settings>
        <!--设置MyBatis打印日志在控制台-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在根路径下的包名-->
        <package name="com/bjpowernode/domain"/>
    </typeAliases>

    <!--
    环境配置：数据库连接信息【default与id相匹配】
    在spring框架集成mybatis框架中【！mybatis环境配置不需要配置】
    -->

    <!--SQL mapper的位置-->
    <mappers>
        <!--
        一个[mapper]指定类路径下文件的位置【类路径：target/classes】
        使用package 的要求：
        1.sql映射文件与dao接口名一致
        2.二者存在于同一路径
        -->
        <package name="com.bjpowernode.dao"/>
    </mappers>
</configuration>